In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from konlpy.tag import Komoran
import matplotlib.pyplot as plt

In [5]:
movie = pd.read_csv("../new_data/영화리뷰.csv")

movie.dropna(inplace=True)

In [7]:
print(f"movie shape => {movie.shape}\n")

movie shape => (199992, 3)

In [8]:
movie.columns

Index(['id', 'document', 'label'], dtype='object')

In [9]:
all_data = list(movie['document'])

In [10]:
len(all_data)

199992

In [11]:
# 통합본 생성하고 저장하기
total = pd.DataFrame({'text': all_data})
total.to_csv("../new_data/통합본데이터.csv", index=False)

In [14]:
number = []
place = []
time = []
etc = []

for i in all_data:
    if ('어디' or '장소' or '위치' or '주소') in i: place.append(i)
    elif ('번호' or '전화') in i: number.append(i)
    elif ('시작' or '마감' or '언제' or '기간' or '시간') in i: time.append(i)
    else: etc.append(i)

In [15]:
len(number)

15

In [16]:
number_label = []
for _ in range(len(number)):
    number_label.append(0)
len(number_label)

15

In [18]:
len(place)

1160

In [19]:
place_label = []
for _ in range(len(place)):
    place_label.append(1)
len(place_label)

1160

In [20]:
len(time)

1034

In [21]:
time_label = []
for _ in range(len(time)):
    time_label.append(2)
len(time_label)

1034

In [22]:
train_df = pd.DataFrame({'text':number+place+time,
                        'label':number_label+place_label+time_label})

In [23]:
train_df.head()

                                                text  label
0  이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1  작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                         용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4  보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0

In [24]:
train_df.tail()

                                                   text  label
2204  아놔 로그인 하게 만드는;; 시작할때는 그럴듯하게 광고하더니 뒤로 갈수록 왜 이렇게...      2
2205  난 이제 악당이랑 치고 박고 딸을 구하겠구나 싶었는데 끝나더라.. 진짜 허무했음. ...      2
2206                                   시작하자마자 멍청한 홍콩경찰들      2
2207  ㅋ 우스운영화를보았음..한국공포가 왜이래 한30년전에찍었었나..제대로보여주는것암것도...      2
2208  영화가 시작하고 10분이 지났는데 끄고싶다...끝까지본 내가 자랑스럽다....뻔함의...      2

In [25]:
train_df[train_df['label']==0]

                                                 text  label
0   이 영화 있는사람 공유 부탁합니다 제 폰번호 010 4427 2774 연락한통만요^-^;      0
1   작가때문에 1점 주려다가 영화가 너무 좋아서 10점줌비행기를 끌고 추운곳에다 추락시...      0
2                                 비밀번호가 뭐야? 서윤내사랑 ㅋ_ㅋ      0
3                          용팔이 시르즈를 볼려면 어떻게 하는지.전화번호좀      0
4   보다 말았는데 심장 졸라 쫄깃해진다;; 근데 여주 졸라 답답함. 세면대 물기 닦는 ...      0
5   사실을 말해 주지 않아 1점. 막판 없는 주민 번호라 할때 대반전 서스펜스 공포영화...      0
6   이영화만든감독님 전화 번호 아시는분? ㅎㅎㅎㅎ귓속에대고 조근조근한말투로 따뜻한욕 한...      0
7   채권맡긴날 그리고 3개월후 채권찾는날, 은행 뒤편의 전광판날짜가 똑같네. 대기번호까...      0
8   진짜 잼있다 숟가락 번호 맞추기 ㅋㅋ 영화시작 한지 20불만에 눈감고 끝날때까지 피...      0
9   개발연기에, 논리라는 말도 붙이기 민망한 비약. 화투패의 주민번호 소유주가 죽는다....      0
10  12년동안 돈많은 남편한테 붙어 있으면서 애인은 따로 두고 죽을 때 되니 사랑하는 ...      0
11                                       전화번호부 보는 느낌,      0
12  어사일럼 여기서 만든 영화는 다 이렇다 허접의 진수성찬이라고 할까 모든게 어색하지만...      0
13  코메디 인줄.... 테러범이라는 애들이 비밀번호는 죄다 기념일이고 일반인한테 맞고다...      0
14  이승준 2번 다시 영화 찍지 마라.. 연기 더럽게 못하고 어색하네 18.. 내용도 ...      0

In [26]:
train_df[train_df['label']==1]

                                                   text  label
15         실화여서 더욱 충격, 다시는 어디에서도 일어나서는 안될 경각심을 일깨워주는 영화      1
16                                정말재밋게 봣는대요 어디서 받을수잇조?      1
17    너무너무재밌게보고있어요! 중간부터 본방사수했지만 스토리가 탄탄하고 흥미진진해서 1화...      1
18                        역시 이정도라 도 어디냐 이런거 다시는 보기 힘들거다      1
19    개인적으로 메카닉 보다 좀더 잼있었고, 적이 알고보니깐 영화 거침없이 쏴라 슛뎀업에...      1
...                                                 ...    ...
1170                     두남자의 숨막히는 추격전??? 어디??? 아...짱나~      1
1171  선비의 자손으로서 아주 복장 터지는 영화!! 황새는 황새다워야 하고 뱃새는 뱃새다워...      1
1172                                          감독 집이 어디냐      1
1173  satc원작 드라마에 먹칠을 한거 같은 영화드라마도 5후반까진 괜찮았으나 인기입어 ...      1
1174  이게 실화라고 장난하나 18.. 세상에 하나님이 어디 있다고.. 영화도 개독교에 미...      1

[1160 rows x 2 columns]

In [27]:
train_df[train_df['label']==2]

                                                   text  label
1175          잊을 수 없는 그대여, 6월이 되고 비가 내려야 그대가 보이기 시작합니다.      2
1176                 중반부까지 진짜 몰입하고 봤는데 갑자기 러브스토리부터 깨기시작      2
1177                                      이것이 바로 전설의 시작      2
1178  아름다운 영화. 다만 바이올린에서 시작하여 첫사랑으로 끝나는 과정이 썩 매끄럽지만은...      2
1179                                      반전, 그 시작과 끝이다      2
...                                                 ...    ...
2204  아놔 로그인 하게 만드는;; 시작할때는 그럴듯하게 광고하더니 뒤로 갈수록 왜 이렇게...      2
2205  난 이제 악당이랑 치고 박고 딸을 구하겠구나 싶었는데 끝나더라.. 진짜 허무했음. ...      2
2206                                   시작하자마자 멍청한 홍콩경찰들      2
2207  ㅋ 우스운영화를보았음..한국공포가 왜이래 한30년전에찍었었나..제대로보여주는것암것도...      2
2208  영화가 시작하고 10분이 지났는데 끄고싶다...끝까지본 내가 자랑스럽다....뻔함의...      2

[1034 rows x 2 columns]

In [28]:
train_df.reset_index(drop=True, inplace=True)

In [29]:
train_df.tail()

                                                   text  label
2204  아놔 로그인 하게 만드는;; 시작할때는 그럴듯하게 광고하더니 뒤로 갈수록 왜 이렇게...      2
2205  난 이제 악당이랑 치고 박고 딸을 구하겠구나 싶었는데 끝나더라.. 진짜 허무했음. ...      2
2206                                   시작하자마자 멍청한 홍콩경찰들      2
2207  ㅋ 우스운영화를보았음..한국공포가 왜이래 한30년전에찍었었나..제대로보여주는것암것도...      2
2208  영화가 시작하고 10분이 지났는데 끄고싶다...끝까지본 내가 자랑스럽다....뻔함의...      2

In [30]:
train_df.to_csv("train_data.csv", index=False)